---
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/index.css";
import date from "../images/icons/date.svg";
import file from "../images/icons/files.svg";
import http from "../images/icons/http.svg";
import json from "../images/icons/json.svg";
import math from "../images/icons/math.svg";
import regex from "../images/icons/regex.svg";
import system from "../images/icons/system.svg";
import telnet from "../images/icons/telnet.svg";
import time from "../images/icons/time.svg";
---

<!DOCTYPE html>
<html lang="ba">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../../src/images/Logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bosscript</title>
</head>
<body>

<Header/>
<main>
    <div class="hero">
        <h1>Prvi Bosanski Programski Jezik</h1>
        <div id="cta-buttons">
            <a id="download" href="/">Preuzmi</a>
            <a id="read-docs" href="/pocetak">Dokumentacija</a>
        </div>
    </div>
    <div id="standout">
        <section>
            <div>
                <h2>Sintaksa zasnovana na bosanskom jeziku</h2>
                <p>
                    Bosscriptova sintaksa je dizajnirana tako da prati bosansku strukturu rečenica i način razmišljanja.
                    Ključne riječi i izrazi su pažljivo birani kako bi njihova svrha bila intuitivna korisnicima, pritom
                    držeći se stila jezika iz C-porodice.
                </p>
            </div>

            <pre>
<s>class</s> <span class="keyword">model</span>
<s>super</s> <span class="keyword">prototip</span>
<s>int, double, float</s> <span class="keyword">broj</span>
<s>string</s> <span class="keyword">tekst</span>
<s>boolean</s> <span class="keyword">logički</span>
<s>for(int i = 0; i < 10; i++;)</s> <span class="keyword">za svako</span> (x <span class="keyword">od</span> <span class="number">0</span> <span class="keyword">do</span> <span class="number">9</span>)
<s>Example operator+(const Example& e)</s> <span class="keyword">funkcija</span> plus(e: Example)
</pre>
        </section>
        <section >

            <div>
                <h2>Idealan za početnike</h2>
                <p>Bosscript je odličan izbor kao vaš prvi programski jezik iz više razloga.</p>
                <p>&#9989; Dizajniran prvenstveno za početnike</p>
                <p>&#9989; Jezik bogat opcijama, podržava više paradigmi</p>
                <p>&#9989; Fleksibilan i potpuno opcionalan type checking</p>
                <p>&#9989; Promovira dobre programerske prakse i navike</p>
                <p>&#9989; Jednostavna instalacija i korištenje</p>
            </div>
            <pre is:raw>
<span class="comment">// U Bosscriptu nema iznenađenja. Granice petlje su tačno onakve kakve očekujete.</span>

<span class="keyword">za svako</span> (x <span class="keyword">od</span> <span class="number">0</span> <span class="keyword">do</span> <span class="number">10</span>){
    ispis(x)<span class="keyword">;</span>
}

Output:
<span class="number">0 1 2 3 4 5 6 7 8 9 10</span>
</pre>
        </section>
        <section>
            <h2>Objektno orijentisano programiranje</h2>
            <p>Podrška za objektno orijentisano programiranje uključujući nasljeđivanje i enkapsulaciju</p>
            <div class="side-snippets">
            <pre is:raw>
<span class="keyword">model</span> A {
    <span class="keyword">konstruktor</span>(a: <span class="keyword">broj</span>){
        <span class="purple">@a</span> = a<span class="keyword">;</span>
    }
    <span class="keyword">privatno</span> {
        <span class="keyword">var</span> a<span class="keyword">;</span>
    }
    <span class="keyword">javno</span> {
        <span class="keyword">funkcija</span> getA() {
            <span class="keyword">vrati</span> <span class="purple">@a</span><span class="keyword">;</span>
        }
        <span class="keyword">funkcija</span> setA(a: <span class="keyword">broj</span>) {
            <span class="purple">@a</span> = a<span class="keyword">;</span>
        }
    }
}
</pre>
             <pre is:raw>
<span class="keyword">model</span> B < A {
    <span class="keyword">konstruktor</span>(a: <span class="keyword">broj</span>, b: <span class="keyword">broj</span>){
        <span class="keyword">prototip</span>(a)<span class="keyword">;</span>
        <span class="purple">@b</span> = b<span class="keyword">;</span>
    }

    <span class="keyword">privatno</span> {
        <span class="keyword">var</span> b<span class="keyword">;</span>
    }

    <span class="keyword">javno</span> {
        <span class="keyword">funkcija</span> test() {
            ispis(<span class="string">"["</span> + <span class="purple">@a</span> + <span class="string">","</span> + <span class="purple">@b</span> + <span class="string">"]"</span>)<span class="keyword">;</span>
        }
    }
}</pre>
            </div>
        </section>
        <section>
            <h2>Funkcionalno programiranje</h2>
            <p>Podrška za funkcionalno programiranje uključujući lambda funkcije funkcije višeg reda.</p>
            <pre is:raw>
<span class="keyword">var</span> voce = [
    { <span class="purple">ime</span>: <span class="string">"jabuka"</span><span class="keyword">,</span> <span class="purple">kolicina</span>: <span class="number">5</span> }<span class="keyword">,</span>
    { <span class="purple">ime</span>: <span class="string">"banana"</span><span class="keyword">,</span> <span class="purple">kolicina</span>: <span class="number">2</span> }<span class="keyword">,</span>
    { <span class="purple">ime</span>: <span class="string">"visnja"</span><span class="keyword">,</span> <span class="purple">kolicina</span>: <span class="number">3</span> }<span class="keyword">,</span>
]<span class="keyword">;</span>

<span class="comment">// Filtriraj voće na one sa količinom većom od 2, sortiraj ih po količini silazno, izdvoji samo imena voća i ispiši ih</span>

voce
  .<span class="yellow">filtriraj</span>(<span class="keyword">funkcija</span>(vocka) => vocka.<span class="purple">kolicina</span> > <span class="number">2</span>)
  .<span class="yellow">sortirajSilaznoPo</span>(<span class="string">"kolicina"</span>)
  .<span class="yellow">primijeni</span>(<span class="keyword">funkcija</span>(vocka) => vocka.<span class="purple">ime</span>)
  .<span class="yellow">zaSvaki</span>(ispis)<span class="keyword">;</span>

Output:
jabuka
visnja
</pre>
        </section>
        <section>
            <h2>Transpilacija u JavaScript</h2>
            <p>Podrška za razvoj manjih web aplikacija kroz transpilaciju u JavaScript, uključujući direktno umetnut JavaScript kod</p>
            <div class="side-snippets">
                <pre is:raw>
<span class="keyword">var</span> response = `<span class="keyword">await</span> fetch(<span class="string">"https://bosscript.ba/funfact"</span>)`<span class="keyword">;</span>
<span class="keyword">var</span> element = `<span class="purple">document</span>.<span class="yellow">querySelector</span>(<span class="string">"#element"</span>)`<span class="keyword">;</span>
<span class="keyword">za svako</span> (x <span class="keyword">od</span> <span class="number">0</span> <span class="keyword">do</span> <span class="number">10</span> <span class="keyword">korak</span> <span class="number">2</span>){
    ispis(x)<span class="keyword">;</span>
}
</pre>
                <svg id="arrow" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="var(--text)" fill="var(--text)" clip-rule="evenodd" d="M12.2929 4.29289C12.6834 3.90237 13.3166 3.90237 13.7071 4.29289L20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L13.7071 19.7071C13.3166 20.0976 12.6834 20.0976 12.2929 19.7071C11.9024 19.3166 11.9024 18.6834 12.2929 18.2929L17.5858 13H4C3.44772 13 3 12.5523 3 12C3 11.4477 3.44772 11 4 11H17.5858L12.2929 5.70711C11.9024 5.31658 11.9024 4.68342 12.2929 4.29289Z"/>
                </svg>
                <pre is:raw>
<span class="keyword">let</span> response = <span class="keyword">await</span> fetch(<span class="string">"https://bosscript.ba/funfact"</span>)<span class="keyword">;</span>
<span class="keyword">let</span> element = <span class="purple">document</span>.<span class="yellow">querySelector</span>(<span class="string">"#element"</span>)<span class="keyword">;</span>
<span class="keyword">for</span> (<span class="keyword">let</span> x = <span class="number">0</span><span class="keyword">;</span> i <= <span class="number">10</span><span class="keyword">;</span> i += <span class="number">2</span><span class="keyword">;</span>) {
    <span class="purple">console</span>.<span class="yellow">log</span>(x)<span class="keyword">;</span>
}
</pre>
            </div>
        </section>
    </div>

    <section id="stdlib">
        <h2>Bogata standardna biblioteka</h2>
        <p>
            Bosscript posjeduje bogatu standardnu biblioteku od 10 paketa koji dodaju mnoge korisne opcije,
            sve od datuma do podrške za Telnet.
        </p>
        <div id="stdlib-cards">
            <a href="/stdlib/datum">
                <h3>Datumi</h3>
                <img src={date} alt="Date">
            </a>
            <a href="/stdlib/vrijeme">
                <h3>Vrijeme</h3>
                <img src={time} alt="Time">
            </a>
            <a href="/stdlib/http">
                <h3>Http</h3>
                <img src={http} alt="Http">
            </a>
            <a href="/stdlib/io">
                <h3>Datoteke</h3>
                <img src={file} alt="Files">
            </a>
            <a href="/stdlib/json">
                <h3>JSON</h3>
                <img src={json} alt="JSON">
            </a>
            <a href="/stdlib/matematika">
                <h3>Matematika</h3>
                <img src={math} alt="Math">
            </a>
            <a href="/stdlib/regex">
                <h3>Regex</h3>
                <img src={regex} alt="Regex">
            </a>
            <a href="/stdlib/sistem">
                <h3>Sistem</h3>
                <img src={system} alt="System">
            </a>
            <a href="/stdlib/telnet" id="telnet">
                <h3>Telnet</h3>
                <img src={telnet} alt="Telnet">
            </a>
        </div>
    </section>
</main>
</body>
</html>

<style>
    body {
        background: url("../images/trianglexl.svg") no-repeat;
        background-size: 60%;
        background-position: top right;
    }
    main {
        width: 80%;
        margin-inline: auto;
        padding-top: 4rem;
    }
</style>